
<section>
  <h1>Q1 - Create a triangle of M x N dimensions </h1>
 
  
  <div>
      <label>base</label>
      <input type="text" id="tbase" placeholder="Enter a value for base" [(ngModel)]="tbase" autocomplete="off">
  
      <label>height</label>
      <input type="text" id = "theight" placeholder="Enter a value for height" [(ngModel)]="theight" autocomplete="off">
  
      <button (click)="draw()">Draw triangle</button>
  </div>

  <div>
    <canvas [style.height]="canvasHeight" [style.width]="canvasWidth" #myCanvas>

    </canvas>
</div>
  
</section>

<section>
  <h1>Q2 - Scrape product information from microfocus page in JSON  https://www.microfocus.com/en-us/products?trial=true. </h1>

  <button (click)="getWebPageData()">Get Data</button>
</section>